flows (2).json
[{"id":"c21c79cc.9e1a08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2867a411.70619c","type":"ui_form","z":"c21c79cc.9e1a08","name":"","label":"","group":"e7d26ca7.0cd45","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["d94d9527.7007d8"]]},{"id":"d94d9527.7007d8","type":"function","z":"c21c79cc.9e1a08","name":"F1","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["4225c238.4954fc","2a97ce73.5501b2"]]},{"id":"59d62277.34002c","type":"function","z":"c21c79cc.9e1a08","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload = \"please rephrase\";\n    return msg;\n}\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["139f529.2b23dad"]]},{"id":"4225c238.4954fc","type":"ui_text","z":"c21c79cc.9e1a08","group":"e7d26ca7.0cd45","order":2,"width":0,"height":0,"name":"","label":"You:","format":"{{msg.payload}}","layout":"row-left","x":310,"y":480,"wires":[]},{"id":"139f529.2b23dad","type":"ui_text","z":"c21c79cc.9e1a08","group":"e7d26ca7.0cd45","order":3,"width":12,"height":4,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":630,"y":480,"wires":[]},{"id":"a2715fc3.38214","type":"debug","z":"c21c79cc.9e1a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":40,"wires":[]},{"id":"2a97ce73.5501b2","type":"watson-conversation-v1","z":"c21c79cc.9e1a08","name":"Customer Care","workspaceid":"6993d339-b847-4522-b8ec-8203ecd498d0","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/663d0150-0603-4bac-af59-83c30fd077f9","timeout":"","optout-learning":false,"x":380,"y":140,"wires":[["a2715fc3.38214","59d62277.34002c"]]},{"id":"e7d26ca7.0cd45","type":"ui_group","z":"","name":"Chatbot","tab":"4d60de71.5442c","order":1,"disp":true,"width":12,"collapse":false},{"id":"4d60de71.5442c","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]